* { box-sizing: border-box }

body {
  /* background: #45b98f; */
  overflow: hidden;
  font-family: sans-serif;
}

main {
  display: flex;
  /* justify-content: space-evenly; */
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 3em;
  padding: 15px;
  background: #7ed6df;
}

.person-info-container {
  padding: 20px;
  width: 40%;
  margin-top: 50px;
}

.welcome-text {
  text-align: center;
  font-size: 3em;
}

.person-info-container > img {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  margin: auto;
  display: block;
  margin: 20px auto;
}

.person-info-container > p {
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  position: sticky;
  top: 0;
  padding: 10px;
  /* background: rgba(202, 241, 246); */
  border-radius: 0 5px 0 0;
  font-size: 35px;
}

.right-side-container {
  position: relative;
  width: 60%;
  height: 100vh;
}

.card-container {
  width: 95%;
  height: 384px;
  position: absolute;
  /* left: 0; */
  top: 15%;
  box-shadow: 6px 4px 0px grey;
  border-radius: 5px;
  /* overflow: hidden;
  margin: auto; */
  animation: intro 0.34s 0.4s cubic-bezier(1, 1.4, 0.41, 1.01) forwards;
  /* transform: translateY(-50%) scale(0) rotateX(10deg) rotateY(10deg) rotateZ(10deg); */
}

.card-inner input[type='radio'] {
  display: none;
}

.move-oz {
  position: relative;
  right: 23em;
  bottom: 38px;
}

.card-inner 
input[type='radio']:checked + label
.card-inner-info {
  height: 290px;
}

.card-inner 
input[type='radio']:not(checked) + label
.card-inner-info {
  height: 47px;
  border-left: 10px solid rgba(0, 0, 0, 0.12);
}

.card-inner-info {
  width: 100%;
  overflow: scroll;
  position: relative;
  transition: all 0.65s cubic-bezier(1, 0, 0.41, 1.01);
}

.card-container label:nth-of-type(1) .card-inner-info {
  background: #BBDEF8;
  height: 200px;
}

th {
  padding: 17.5px;
}

td {
  padding: 20px;
}

h3 {
  text-align: center;
}

.user-info {
  text-align: center;
  display: block;
  font-size: 30px;
  padding: 20px;
}

.user-info-display {
  width: 62%;
  margin: 10px;
  display: block;
  margin: 10px auto;
}

.card-container label:nth-of-type(2) .card-inner-info {
  background: #7ed6df;
  height: 200px;
}

.card-container label:nth-of-type(3) .card-inner-info {
  background: rgb(234, 220, 238);
  height: 200px;
}

.card-inner 
input[type='radio']:checked + label
.card-inner-info 
.details {
  top: 39px;
  transition: all 0.3s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.card-inner-info > .details {
  text-align: right;
  padding: 10px;
}
